 @media screen and (max-width: 576px) {

     #hr1,
     #hr2,
     #hr3,
     #hr4 {
         max-width: 70%;
     }

     h2 {
         font-size: 18px;
     }

     header #breakfastBig {
         display: none;
     }

     .retter {}

     article.retter {
         max-width: 100%;
     }

     #ret {
         display: grid;
         grid-gap: 10px;
         padding: 1px;
         border: 5px double #e81d21;
         margin: 0em;
         width: 100%;
     }

     .nav-toggle {
         cursor: pointer;
         height: 1.5rem;
         left: 1rem;
         top: 1rem;
         width: 2rem;
     }

     footer {
         max-width: 100%;

     }

     .grid-container--fill {
         grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
         float: none;

     }

     form {
         text-align: right !important;
         float: right;
         font-size: 4px;
         margin: 0.1rem;
     }

     input#number {
         text-align: center;
         border: none;
         margin: 0px;
         width: 0.6rem;
         height: 0.6rem;
         background-color: transparent;
     }

     #buttonOrder {
         grid-column: 1;
         grid-row: 5;
         padding: 0.2rem;
         border: 5px double #e81d21;
         margin: 0.1rem;
         background-color: transparent;
     }
 }

 @media screen and (min-width: 420px) {
     h2 {
         font-size: 18px;
     }

     #hr1,
     #hr2,
     #hr3,
     #hr4 {
         max-width: 55%;
     }

     header #logo {
         display: block;
         margin: 0 auto;
         padding: 6vw 0 0 0;
         text-align: center !important;
         max-width: 50%;
     }

     header #open {
         display: block;
         margin: 0 auto;
         text-align: center !important;
         max-width: 60%;
         padding: 3vw 0 0 0;
     }

     header #breakfast {
         display: none;
     }

     header #breakfastBig {
         display: block;
         margin: 0 auto;
         text-align: center !important;
         max-width: 55%;
         padding: 2vw 0 0 0;
     }

     header #see {
         display: block;
         margin: 0 auto;
         text-align: center !important;
         max-width: 55%;
         padding: 2vw 0 0 0;
     }
 }

 @media screen and (min-width: 576px) {
     h2 {
         font-size: 18px;
     }

     #hr1,
     #hr2,
     #hr3,
     #hr4 {
         max-width: 35%;
     }

     .liste {
         grid-template-columns: repeat(2, 1fr);
     }

     header #logo {
         display: block;
         margin: 0 auto;
         padding: 4vw 0 0 0;
         text-align: center !important;
         max-width: 40%;
     }

     header #open {
         display: block;
         margin: 0 auto;
         text-align: center !important;
         max-width: 45%;
         padding: 3vw 0 0 0;
     }

     header #breakfast {
         display: none;
     }

     header #breakfastBig {
         display: block;
         margin: 0 auto;
         text-align: center !important;
         max-width: 40%;
         padding: 2vw 0 0 0;
     }

     header #see {
         display: block;
         margin: 0 auto;
         text-align: center !important;
         max-width: 40%;
         padding: 2vw 0 0 0;
     }
     #buttonOrder {
    grid-column: 1;
    grid-row: 5;
    padding: 0.6rem 0.3rem;
    border: 5px double #e81d21;
    margin: 0.2rem;
    background-color: transparent;
}
 }


 @media only screen and (min-width: 768px) {

     #hr1,
     #hr2,
     #hr3,
     #hr4 {
         max-width: 25%;
     }

     header #logo {
         display: block;
         margin: 0 auto;
         padding: 3vw 0 0 0;
         text-align: center !important;
         max-width: 30%;
     }

     header #open {
         display: block;
         margin: 0 auto;
         text-align: center !important;
         max-width: 40%;
         padding: 2vw 0 0 0;
     }

     header #breakfast {
         display: none;
     }

     header #breakfastBig {
         display: block;
         margin: 0 auto;
         text-align: center !important;
         max-width: 33%;
         padding: 2vw 0 0 0;
     }

     header #see {
         display: block;
         margin: 0 auto;
         text-align: center !important;
         max-width: 23%;
         padding: 1vw 0 0 0;
     }

     .grid-container--fill {
         grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
         overflow: hidden;
     }
     form {
    grid-column: 2;
    grid-row: 5;
    padding: 0rem;
             margin-right: 1rem;
}
     #buttonOrder {
    grid-column: 1;
    grid-row: 5;
    padding: 0.4rem 0.2rem;
    border: 5px double #e81d21;
    margin: 0rem;
    background-color: transparent;
    margin-left: 0.5rem;
}
 }

 @media only screen and (min-width: 992px) {

     #hr1,
     #hr2,
     #hr3,
     #hr4 {
         max-width: 30%;
     }

     header #logo {
         display: block;
         margin: 0 auto;
         padding: 3vw 0 0 0;
         text-align: center !important;
         max-width: 25%;
     }

     header #open {
         display: block;
         margin: 0 auto;
         text-align: center !important;
         max-width: 33%;
         padding: 2vw 0 0 0;
     }

     header #breakfast {
         display: none;
     }

     header #breakfastBig {
         display: block;
         margin: 0 auto;
         text-align: center !important;
         max-width: 23%;
         padding: 2vw 0 0 0;
     }

     header #see {
         display: block;
         margin: 0 auto;
         text-align: center !important;
         max-width: 23%;
         padding: 1vw 0 0 0;
     }

     .grid-container--fill {
         grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
         overflow: hidden;
     }
     form {
    grid-column: 2;
    grid-row: 5;
    padding: 0rem;
}
     #buttonOrder {
    grid-column: 1;
    grid-row: 5;
    padding: 0.4rem 0.2rem;
    border: 5px double #e81d21;
    margin: 0rem;
    background-color: transparent;
    margin-left: 0.5rem;
}
 }

 @media only screen and (min-width: 1024px) {

     #hr1,
     #hr2,
     #hr3,
     #hr4 {
         max-width: 20%;
     }

     .liste {
         grid-template-columns: repeat(3, 1fr);
     }


 }


 @media only screen and (min-width: 1200px) {
     header #logo {
         display: block;
         margin: 0 auto;
         padding: 2vw 0 0 0;
         text-align: center !important;
         max-width: 22%;
     }

     header #open {
         display: block;
         margin: 0 auto;
         text-align: center !important;
         max-width: 30%;
         padding: 1vw 0 0 0;
     }

     header #breakfast {
         display: none;
     }

     header #breakfastBig {
         display: block;
         margin: 0 auto;
         text-align: center !important;
         max-width: 23%;
         padding: 1vw 0 0 0;
     }

     header #see {
         display: block;
         margin: 0 auto;
         text-align: center !important;
         max-width: 23%;
         padding: 1vw 0 0 0;
     }
 }

 li a {
     display: block;
 }
