.menu {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.valgt {
    color: #3D5BA9;
    transition: ease-in 0.6s;
}

.liste {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

img {
    grid-column: 1 / span 2;
    grid-row: 1;
    width: 100%;
}

#hr1 {
    border: 3px dotted #312a09;
    border-style: none none dotted;

}

#hr2 {
    border: 2px solid #312a09;
    margin-top: -5px;
    margin-bottom: -5px;
}

#hr3 {
    border: 2px solid #312a09;
    margin-top: -5px;
    margin-bottom: -5px;
}

#hr4 {
    border: 3px dotted #312a09;
    border-style: none none dotted;
}
#combineH2Hr {
    grid-column: 1 / span 2;
    grid-row: 2;
    text-align: center;
}
p.center {
    text-align: center;
    font-size: 1rem;
    line-height: 0.1px;
    font-weight: bold;
}

header #open {
    display: block;
    margin: 0 auto;
    text-align: center !important;
    max-width: 80%;
    padding: 4vw 0 0 0;
}
#popup {
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    overflow: scroll;
}
#popup::-webkit-scrollbar{
    display: none;
}
#indhold {

    width: 70vw;
    margin: 1rem auto;
    background-color: transparent;
    padding: 5px;
    transition: ease-in 2s;
    margin: 0 auto;
    padding: 2px;
    border: 2px solid black;
}

#luk {
    position: fixed;
    margin-top: 2rem;
    padding-right: 2rem;
}

#luk button {
    font-size: 2rem;
    position: fixed;
    right: 20%;
    background-color: #fdf6d5;
}

#container {
    display: block;
    position: relative;
}

.retter {
    display: grid;
    grid-gap: 1px;
    padding: 1px;
    border: 4.5px solid #312a09;
    padding: 0px;
    transition: ease-in 2s;
    margin: 1.8em;
    cursor: pointer;
    height: auto;
    background-color: #ffeead;
}

#ret {
    display: grid;
    grid-gap: 1px;
    border: 8px double #e81d21;
    padding: 0em;
    transition: ease-in 2s;
    margin: 1em;
    cursor: pointer;
    max-height: 500px;
    overflow: auto;
    background-color: #fdf6d5;
    z-index: 1;
}

article #ret {
    padding: 5px;
    background: none;
    border: 2px solid black;
}

#align {
    grid-column: 1 / span 2;
    grid-row: 5;
    display: inline-block;
}

.grid-container {
    display: grid;
    background: #e81d21;
    color: #312C14;
    border: 15px double #fdf6d5;
    z-index: -10;
}

.grid-container--fill {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    overflow: hidden;
}

article.retter {
    max-width: 100%;
}

article {
    padding: 5px;
    border: 2px solid black;
}

.openBtn {
    font-size: 40px;
    cursor: pointer;
    margin-left: 1rem !important;
    position: -webkit-sticky;
    position: sticky;
    top: 0 !important;
}

.closebtn {
    font-size: 60px;
    clear: both;
    margin-top: -3rem;
    margin-left: 1rem;
    color: #312C14;
}

#sticky {
    outline: 4px solid rgba(232, 29, 33, 0.9);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    max-width: 2rem;
}
